extends ../layouts/layout

block head
  title #{application} &middot; Create Team

block content
  .container
    .row
      .col-sm-6.col-sm-offset-3
        br
        br
        form(action='/team/create', method='POST')
          input(type='hidden', name='_csrf', value=_csrf)
          legend Create Team
          .form-group
            label(for='name') Name:
            input.form-control(type='text', name='name', id='name', placeholder='Team Name', autofocus=true, required)
          .form-group#users
            label(for='user') Select Users:
            //- ADD USER LIST
            #userList
              table.table.table-striped
                thead
                  th Add?
                  th Name
                  th Email
                  th Current Team
                tbody
            //- /ADD USER LIST
          .form-group
            button.btn.btn-success(type='submit')
              i.fa.fa-check
              | &nbsp;Create Team
            | &nbsp;

  //- HTML 5 Form Notes
  //- ===========================================
  //- 1) Always add labels!
  //-    Screen readers will have trouble with your forms if you don't include a label for every input.
  //-    NOTE: you can hide the labels using the .sr-only class.
  //- 2) Use proper HTML5 input types (email, password, date, url, etc.)  This adds some HTML5 validation as
  //-    well as the correct keyboard on mobile devices.
  //- 3) When using the pattern attribute, the ^ and $ for the start and end of the regular expression
  //-    are implied and don't need to be included.
  //- 4) You can help the user by including a title attribute that tells them the format you require.

block scripts
  script.
    $(document).ready(function() {
      //- Async Load moment.js
      $.ajax({
        type: 'GET',
        url: '../lib/moment/min/moment.min.js',
        dataType: 'script',
        cache: true
      }).done(function(script, textStatus) {
        // Now populate the user table
        populateForm();
      });

    });
    
    // Fill table with data
    function populateForm() {

      // Empty content string
      var formContent = '';

      // jQuery AJAX call for JSON
      $.getJSON( '/accountlist', function( data ) {

        // Stick our user data array into a userlist variable in the global object
        userListData = data;

        // For each item in our JSON, add a table row and cells to the content string
        $.each(data, function(){
            formContent += '<tr>';
            formContent += '<td><input type="checkbox" name="user" value="' + this._id + '"></td>';
            formContent += '<td>' + this.profile.name + '</td>';
            formContent += '<td>' + this.email + '</td>';
            formContent += '<td>' + moment(this.activity.last_logon).fromNow() + '</td>';
        });

        // Inject the whole content string into our existing HTML table
        $('#userList table tbody').html(formContent);
      });

    };
